<div class="w-full max-w-lg mx-auto my-6">
  <form class="bg-white shadow rounded px-8 pt-6 pb-8" (ngSubmit)="updateCategorie(updatedCategorie())"
  >
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
        Category name
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="nomcategorie"
        type="text"
        placeholder="Technology"
        name="nomcategorie"
        [(ngModel)]="updatedCategorie().nomcategorie"
        required
      />
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="image">
        Category image
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="imagecategorie"
        type="text"
        placeholder="https://example.com/"
        name="imagecategorie"
        [(ngModel)]="updatedCategorie().imagecategorie"
        required
      />
    </div>
    <div class="flex items-center justify-between">
      <button
        class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Update category
      </button>
      <a         class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      routerLink="/categories">Go Back</a>
     
    </div>
  </form>
</div>
